$heightColumn: 32vh;

#twoColumntwoRow {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@media (max-width: $breakpoint-ipad) {
		display: block;
	}
	.an-row {
		min-width: 48%;
		flex-basis: 48%;
		margin-bottom: 30px;
		@media (max-width: $breakpoint-ipad) { 
			margin-bottom: 0;
		}
		.common__section {
			height: $heightColumn;
			@media (max-width: $breakpoint-ipad) { 
				height: auto;
			}
		}
	}
}
#twoColumn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	.common__section {
		min-width: 48%;
		flex-basis: 48%;
		.section-image {
			height: 12.5vw;
			overflow: hidden;
			@media (max-width: $breakpoint-ipad) { 
				height: 25vw;
			}
		}
	}
}