/*-----------------------------
# [Color variable]
----------------------------- */
$primary-color: #6877f9;
$secondary-color: #454545;
$link-color: #222;
$link-color-hover: #d4d8f5;
$primary-text-color: #9e9e9e;
$border-color: #e1e3ea;
$input-border-color: #e5e5e5;
$dark: #111212;
$muted: #596377;
$gray: #f8f8f8;
$red: #e41919;
$black: #000;
$orange: #f47631;
$yellow: #ffce02;
$cyan: #27c5c3;
$blue: #43a5de;
$green: #65B044;

$facebook: #3F5C99;
$twitter: #1DA0F2;
$google: #DC4A38;
$instagram: #A4785B;

/*-----------------------------
# [Breakpoint Variable]
----------------------------- */
$breakpoint-lg: 1440px;
$breakpoint-laptop: 1366px;
$breakpoint-m: 1280px;
$breakpoint-ipad: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 600px;
$breakpoint-xxs: 480px;
$headerHeight: 60px;

/*-----------------------------
# [Typography]
----------------------------- */

$font-size-base: 1rem;
$san-serif: Oxygen, arial, sans-serif;
$serif: 'Source Sans Pro', 'Times New Roman', Times, serif;
$monospace: Inconsolata, monospace;

/*-----------------------------
# [Media Visibility Utils]
----------------------------- */
@media(max-width: $breakpoint-xs){
  .hidden-xs{
    display: none;
  }
}