@import 'variable';
@import 'mixin';

/* List - Text - Link
-------------------------------------------------------------- */
html {
  font-size: 1rem;
}

@media (min-width: $breakpoint-xs) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: $breakpoint-ipad) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: $breakpoint-lg) {
  html {
    font-size: 1rem;
  }
}
body {
  background: #2b2b2c;
  color: $primary-text-color;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: $san-serif;
  font-size: 15px;
}
img {
  max-width: 100%;
}
a {
  color: $link-color;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: $link-color-hover;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
dl {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap
}
dt {
  flex-basis: 30%;
  min-width: 30%;
  padding-right: 5%;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px dotted $border-color;
  text-align: right;
}
dd {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px dotted $border-color;
  flex-basis: 65%;
  min-width: 65%;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #ffffff;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  @include defaultInput;
}
input[type="text"],
input[type="button"],
input[type="number"],
input[type="email"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="passwords"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
select{
  @include defaultSelect;
}
/* List - Text - Link -------------------------------------------------------------- */
/* Select
-------------------------------------------------------------- */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $muted;
  opacity: 1;
  font-size: inherit;
}
::selection {
  background: $primary-color;
  /* Safari */
  color: #fff;
}
::-moz-selection {
  background: $primary-color;
  /* Firefox */
  color: #fff;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

/* Select-------------------------------------------------------------- */
/* MISC 
-------------------------------------------------------------- */
.pl-1r { padding-left: 1rem; }
.pl-2r { padding-left: 2rem; }
.pl-3r { padding-left: 3rem; }
.pl-4r { padding-left: 4rem; }
.pr-1r { padding-right: 1rem; }
.pr-2r { padding-right: 2rem; }
.pr-3r { padding-right: 3rem; }
.pr-4r { padding-right: 4rem; }
.pt-1r { padding-top: 1rem; }
.pt-2r { padding-top: 2rem; }
.pt-3r { padding-top: 3rem; }
.pt-4r { padding-top: 4rem; }
.pb-1r { padding-bottom: 1rem; }
.pb-2r { padding-bottom: 2rem; }
.pb-3r { padding-bottom: 3rem; }
.pb-4r { padding-bottom: 4rem; }
.p-1r { padding: 1rem; }
.p-2r { padding: 2rem; }
.p-3r { padding: 3rem; }
.p-4r { padding: 4rem; }
.p-5r { padding: 5rem; }
.p-6r { padding: 6rem; }
.p-0 { padding: 0 !important; }
.mb-1r { margin-bottom: 1rem; }
.mb-2r { margin-bottom: 2rem; }
.mb-3r { margin-bottom: 3rem; }
.mb-4r { margin-bottom: 4rem; }
.mt-1r { margin-top: 1rem; }
.mt-2r { margin-top: 2rem; }
.mt-3r { margin-top: 3rem; }
.mt-4r { margin-top: 4rem; }
figure img {
  display: block;
}

.figure,
figure {
  overflow: hidden;
}
.figure img {
  height: 100%;
  max-width: none;
}
.figure,
figure {
  text-align: center;
  display: block;
}
.figure-2 {
  display: block;
  overflow: hidden;
}
.figure-2 img {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.figure-2 span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.figure-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.figure-3 img {
  width: auto;
  min-height: 0;
  max-height: 100%;
  display: inline;
}
.reset {
  margin-bottom: 0;
}
.reset td {
  padding: 0;
}
table.reset {
  width: 100%;
}
table.reset tr td {
  vertical-align: top;
  padding: 0 10px 5px 0;
  text-align: left;
}
.overhidden {
  overflow: hidden;
}
.muted {
  color: $muted;
}
.color {
  color: $primary-color !important;
}
.link {
  color: $link-color;
}
hr{
  &.line {
    border-top: 1px solid $border-color;
  }
  &.dashed {
    border-top: 1px dashed $border-color;
  }
}
img {
  &.align-left {
    float: left;
    margin: 8px 20px 10px 0;
  } 
  &.align-right {
    float: right;
  }
  &.align-center {
    margin: 0px auto;  
  }
}

.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right!important;
}
.align-center {
  text-align: center !important;
}
/* MISC --------------------------------------------- */


/* OVERRIDE BOOTSTRAP
-------------------------------------------------------------- */
// Button
.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-size: 13px;
  font-family: $san-serif;
  padding-left: 2.2em;
  padding-right: 2.2em;
  svg {
    height: 18px;
    fill: #9e9e9f;
  }
  &.btn-icon {
    padding-left: 12px;
    padding-right: 12px;
    svg {
      fill: #606062;
    }
  }
  &.btn-link {
    padding-left: 0;
    padding-right: 0;
    color: $primary-color;
  }
  &.btn-rounded {
    border-radius: 999em;  
    padding-left: 2.5em;
    padding-right: 2.5em;  
  }
  &.btn-success{
    background-color: $green;
    border-color: $green;
    &:hover,
    &:focus,
    &:active{
      background-color: darken($green,5%);
      border-color: darken($green,5%);    
    }  
    &:focus:active{
      background-color: darken($green,10%);
      border-color: darken($green,10%);   
    }
  }
  &.btn-info{
    background-color: $cyan;
    border-color: $cyan;
    &:hover,
    &:focus,
    &:active{
      background-color: darken($cyan,5%);
      border-color: darken($cyan,5%);    
    }  
    &:focus:active{
      background-color: darken($cyan,10%);
      border-color: darken($cyan,10%);   
    }
  }
  &.btn-warning{
    background-color: $orange;
    border-color: $orange;
    &:hover,
    &:focus,
    &:active{
      background-color: darken($orange,5%);
      border-color: darken($orange,5%);    
    }  
    &:focus:active{
      background-color: darken($orange,10%);
      border-color: darken($orange,10%);   
    }
  }
  &.bnt-danger{
    background-color: $red;
    border-color: $red;
    &:hover,
    &:focus,
    &:active{
      background-color: darken($red,5%);
      border-color: darken($red,5%);    
    }  
    &:focus:active{
      background-color: darken($red,10%);
      border-color: darken($red,10%);   
    }
  }
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;  
    &:not(:disabled):not(.disabled):active,
    &:hover,
    &:focus,
    &:active{
      background-color: darken($primary-color,5%);
      border-color: darken($primary-color,5%);    
      box-shadow: 0 0 0 0.2rem rgba($primary-color, .2);
    }  
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba($primary-color, .2);
    }
    &:focus:active{
      background-color: darken($primary-color,10%);
      border-color: darken($primary-color,10%);  
      box-shadow: 0 0 0 0.2rem rgba($primary-color, .2);
    }
  }
  &.btn-dark {
    background-color: #454545;
    border-color: #454545;  
    color: #fff;
    text-transform: uppercase;
    &:not(:disabled):not(.disabled):active,
    &:hover,
    &:focus,
    &:active{
      background-color: $primary-color;
      border-color: $primary-color;    
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }  
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
    &:focus:active{
      background-color: $primary-color;
      border-color: $primary-color;    
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
  }
  &.btn-outline-secondary{
    &:hover {
      background: $gray;
      border-color: $border-color;
      color: $primary-text-color;
    }
  }
  &.btn-outline-primary{
    border-color: $primary-color;
    color: $primary-color;
  }
}
// Dropdown
.dropdown-menu{
  border-color: $border-color;
  -webkit-box-shadow: none;
    box-shadow: none;
  border-radius: 0;
  > li {
    > a{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
// Input
.form-control {
  border-color: #3e3e3f;
  background-color: #333;
  color: #fff;
  &:focus {
    border-color: $primary-color;
    box-shadow: none;
    background: #333;
    color: #fff;
  }
  &.is-invalid {
    &:focus {
      border-color: $red;
    } 
  }
}
.custom-control-input{
  &:checked ~ .custom-control-indicator {
    background-color: $primary-color;
  }
  &:focus ~ .custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba($primary-color, .25);
  }
}
// INPUT FILE
.custom-file-input:focus~.custom-file-label {
  box-shadow: none;
  border-color: none;
}
.custom-file {
  cursor: pointer;
  svg {
    height: 18px;
    fill: #fff;
    padding-right: 7px;
  }
  &:hover {    
    .custom-file-label {
      background-color: $primary-color;
      border-color: $primary-color;  
    }
  }
  .custom-file-label {    
    cursor: pointer;
    background-color: #454545;
    border-color: #454545;  
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    font-size: 13px;
    font-family: $san-serif;
    padding-left: 2.2em;
    padding-right: 2.2em;
    line-height: 28px;
    height: 42px;
    &:after {
      display: none;
    }
  }
}
.navbar-brand {
  padding-left: 25px;
  @media (max-width: $breakpoint-xs) {
    padding-left: 5px;
    img {
      height: 25px;

    }
  }
}
// Select
.custom-select {
  border-radius: 2px;
  &:focus {
    border-color: $primary-color;
    box-shadow: none;
  }
}
// Checkbox
.custom-checkbox {
  .custom-control-label {
    margin-bottom: 0;
    padding-top: 4px;
  }
  .custom-control-input {
    ~ .custom-control-label::before {
      border-radius: 2px;
      border-color: #3e3e3f;
      background: transparent;
    }
    &:checked
    ~ .custom-control-label::before {
      background: transparent;
    }
    &:checked ~ .custom-control-label::after { 
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjNGVjZTNkIiBkPSJNNDEzLjUwNSA5MS45NTFMMTMzLjQ5IDM3MS45NjZsLTk4Ljk5NS05OC45OTVjLTQuNjg2LTQuNjg2LTEyLjI4NC00LjY4Ni0xNi45NzEgMEw2LjIxMSAyODQuMjg0Yy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFsMTE4Ljc5NCAxMTguNzk0YzQuNjg2IDQuNjg2IDEyLjI4NCA0LjY4NiAxNi45NzEgMGwyOTkuODEzLTI5OS44MTNjNC42ODYtNC42ODYgNC42ODYtMTIuMjg0IDAtMTYuOTcxbC0xMS4zMTQtMTEuMzE0Yy00LjY4Ni00LjY4Ni0xMi4yODQtNC42ODYtMTYuOTcgMHoiLz48L3N2Zz4=");
    }
    &:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba($primary-color, 0.3);
    }
  }  
}
// Radio
.custom-radio {
  .custom-control-input {
    &:checked
    ~ .custom-control-label::before {
      background: $primary-color;
    }
    &:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba($primary-color, 0.3);
    }
  }  
}
.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
}
// Badge
.badge {
  padding: 4px 7px;
  letter-spacing: 1.9px;
  font-size: 12px;
  font-weight: 500;
  min-height: 18px;
  border-radius: 2px;
  &.badge-warning {
    color: #fff;
    background: #f5a623;
  }
  .common_icon-muted {
    top: -2px;
    position: relative;
    svg {
      fill: #fff;
      height: 12px;  
    }
  }
}
/*-----------------------------
# [OVERRIDE Utitilities]
----------------------------- */
.lead {
  font-size: 15px;
}
// Background Color
.bg-primary { background-color: $primary-color !important; }
.bg-secondary { background-color: $secondary-color !important; }
.bg-success { background-color: $green !important; }
.bg-danger { background-color: $red !important; }
.bg-warning { background-color: $yellow !important; }
.bg-info { background-color: $cyan !important; }
.bg-light { background-color: $gray !important; }
.bg-dark { background-color: #2b2b2b !important; }
// ... and my custom background
.bg-blue { background-color: $blue !important; }
.bg-red { background-color: $red !important; }
.bg-green { background-color: $green !important; }
.bg-yellow { background-color: $yellow !important; }
.bg-cyan { background-color: $cyan !important; }
.bg-orange { background-color: $orange !important; }
// Text Color
.text-primary {color: $primary-color !important;}
.text-secondary {color: $secondary-color !important;}
.text-success { color: $green !important; }
.text-danger { color: $red !important; }
.text-warning { color: #faca00 !important; }
.text-info { color: #2ccdef !important; }
.text-body { color: $primary-text-color !important; }
.text-white {color: #fff !important;}
.text-muted { color: #686869 !important; }
.text-ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
// Alert
.alert {  
  border-radius: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  &.alert-danger {
    background: #d73044;  
    border: none;
    border-bottom: 2px solid #920b1b;
    color: #fff;
    font-weight: 500;
  }
}
/* OVERRIDE BOOTSTRAP -------------------------------------------- */

/* EXTENDS */

.btn-click-me {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($primary-color,.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
  }
  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
    &:before {
      width: 100%;
      background: rgba($primary-color,1);
    }
    svg {
      transform: translateX(0);
      stroke: #fff;
    }
    &:active {
      transform: scale(.96);
    }
  }
}

.drap-drop-zone {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 28px;
    color: #fff;
  }
  .input-group {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-height-50 {
  height: 46%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  .section-image {
    max-height: 55%;
    overflow: hidden;
    flex-grow: 1;
  }
  .section-body {
    margin-top: auto;
    flex-grow: 0;
  }
}
.w50 {
  width: 48%;
  flex-basis: 48%;
  min-width: 48%;
}
.w30 {
  width: 30.33%;
  flex-basis: 30.33%;
  min-width: 30.33%; 
}
.common__layout {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  + .common__section {
    margin-left: 4%;
  }
}
.common__section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  // min-width: 80vw;
  background: #252527;
  box-shadow: -1px -1px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  align-self: stretch;
  &.ml-4 {
    margin-left: 4%;
  }
  @media (max-width: $breakpoint-sm) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .section-header {
    border-radius: 4px 4px 0 0;
    background: #232324;
    border-bottom: 1px solid #1e1e1e;
    border-top: 1px solid #3e3e3f;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-basis: 45px;
    min-height: 45px;
  }  
  .section-body {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    &.nopadding {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }     
    &::-webkit-scrollbar-track {
      background: #242427;
    }
     
    &::-webkit-scrollbar-thumb {
      background: rgba(255,255,255,.2); 
      border-radius: 5px;
    }
  }
  a {
    color: #2ccdef;
  }
  .section-name {
    color: #fff;
    text-transform: uppercase;
    padding: 12px 20px;
  }
  .btn-icon {
    box-shadow: none;
    align-self: stretch;
    height: 100%;
  }
  .table td:first-child {
    white-space: nowrap;
    min-width: 50px;
  }
  .table > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid #3e3e3f;  
    table td,
    table th {
      border-top: none;
      padding: 0;
      padding-right: 10px;
    }
  }
  .table {
    .text-ellipse {
      max-width: 200px;
    }
  }
}
.font-weight-500 {font-weight: 500;}
.common_icon-muted {
  svg {
    height: 18px;
    fill: #b0b0b1;
  }
}
.common__page-name {
  background: #fff;
  padding: 13px 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4e4b61;
  @media (max-width: $breakpoint-sm) {
    display: block;
  }
  .left-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .right-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: right;
    @media (max-width: $breakpoint-xs) {
      display: block;
      text-align: left;
      .ml-3 {
        margin-left: 0 !important;
      }
    }
  }
  .page-name {
    text-transform: uppercase;
    color: #2b2b2c;
    font-size: 18px;
    font-weight: 500;
    padding-right: 24px;
  }
  .page-folder {
    svg {
      height: 18px;
      fill: #b0b0b1;
      margin-right: 12px;
    }
  }
}

@import 'layout';
@import 'sidebar';
@import 'myAccount';
@import 'primaryMenu';
@import 'bottomBar';
@import 'cardNormal';
@import 'modal';
@import 'form';
@import 'addToReport';
