<div class="card card-normal text-white bg-dark">
 	<div class="card-header">
 		<span class="icon-lens">
    	<img src="/images/lens-yellow.png" alt=""/> 
    </span>
    <span class="card-name">
    	Thisisalongname.jpg
    </span>
    <div class="ml-auto">
	    <button class="btn btn-icon">
	    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512"><path d="M64 208c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM16 104c0 26.5 21.5 48 48 48s48-21.5 48-48-21.5-48-48-48-48 21.5-48 48zm0 304c0 26.5 21.5 48 48 48s48-21.5 48-48-21.5-48-48-48-48 21.5-48 48z"/></svg>
	    </button>
    </div>
  </div>
  <img src="https://picsum.photos/g/175/125" alt="">
  <div class="card-body">   
  	<div class="mb-2">
  		<span class="badge badge-dark">AFTER</span>
  	</div> 
    <div class="text-warning">
      Open source hit
    </div>
    <div>
      <a class="text-ellipse" href="">https://timeandtidewatc.timeandtidewatc.timeandtidewatc.timeandtidewatc</a>
    </div>
    <table class="card-text">
      <tr>
        <td>Created date</td>
        <td>22 Jan 2016</td>
      </tr>
    </table>
  </div>
</div>
